
* {
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
  }
  
  /* Tipos de letras */
  /*
 * Open Sans Hebrew Condensed (Hebrew) http://www.google.com/fonts/earlyaccess
 */
@font-face {
    font-family: 'Open Sans Hebrew Condensed';
    font-style: italic;
    font-weight: 300;
    src: url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-LightItalic.eot);
    src: url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-LightItalic.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-LightItalic.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-LightItalic.woff) format('woff'),
         url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-LightItalic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Open Sans Hebrew Condensed';
    font-style: normal;
    font-weight: 300;
    src: url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Light.eot);
    src: url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Light.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Light.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Light.woff) format('woff'),
         url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Light.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Open Sans Hebrew Condensed';
    font-style: italic;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Italic.eot);
    src: url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Italic.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Italic.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Italic.woff) format('woff'),
         url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Italic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Open Sans Hebrew Condensed';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Regular.eot);
    src: url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Regular.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Regular.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Regular.woff) format('woff'),
         url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Open Sans Hebrew Condensed';
    font-style: italic;
    font-weight: 700;
    src: url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-BoldItalic.eot);
    src: url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-BoldItalic.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-BoldItalic.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-BoldItalic.woff) format('woff'),
         url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-BoldItalic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Open Sans Hebrew Condensed';
    font-style: normal;
    font-weight: 700;
    src: url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Bold.eot);
    src: url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Bold.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Bold.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Bold.woff) format('woff'),
         url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Bold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Open Sans Hebrew Condensed';
    font-style: italic;
    font-weight: 800;
    src: url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-ExtraBoldItalic.eot);
    src: url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-ExtraBoldItalic.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-ExtraBoldItalic.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-ExtraBoldItalic.woff) format('woff'),
         url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-ExtraBoldItalic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Open Sans Hebrew Condensed';
    font-style: normal;
    font-weight: 800;
    src: url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-ExtraBold.eot);
    src: url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-ExtraBold.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-ExtraBold.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-ExtraBold.woff) format('woff'),
         url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-ExtraBold.ttf) format('truetype');
  }

  
/* Contenedor principal en el que esta toda la pagina */
.contenedor{
    width: 100vw;
    aspect-ratio: 1/1;
    background-image: url(../imagenes_video/fondoPagina.jpg); /* Fondo de colores de la pagina */
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows: repeat(3,minmax(100vh,1fr));
  }
  
  .cabecera header {
    display: flex; /* todos	los	ítems se alinearán en una sola fila  */
    flex-direction: column;
    justify-content: flex-start center;
    width: 100vw;
    height: 100vh;
    /* grid-row-gap: 40px; */
    
}

/* Logo Riverland tamaños proporcion a la pagina */
  .cabecera header img {
    aspect-ratio: 542/75;
    height: 10vw;
    margin-top: 6vh;
  }

  /* Menu propiedades */
  .cabecera header nav{
    margin: 10px auto;
    font-size: 2em;
    color: #ffffff;
    font-family: 'Open Sans Hebrew Condensed';
    font-style: italic;
    font-size: 60px;
    font-weight: 900;
    display: inline-block;
    text-decoration: inherit;
    cursor: pointer;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  
  }


/*  Para hacer que el texto se mueva cuando pase el raton por encima*/

  .cabecera header a{
    display: inline-block;
    transition: transform 0.3s ease;
    margin-right: 50px; /* Espacio entre los elementos del menu*/
    
  }

  .cabecera header a:hover{
    transform: translateX(20px);
    
  }

.main{
  display: flex;
  flex-wrap: wrap;
}
  /* Parte de introduccion: descripcion y cartelera. */
.introduccion{
  /* display: flex; 
  justify-content: flex-start center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start; */
  display: flex; /* todos	los	ítems se alinearán en una sola fila  */
  flex-direction: column;
  justify-content: flex-start center;
  width: 100vw;
  height: 100vh;
  
}


/* Lineup titulo */
.introduccion h3{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3em;  
  -webkit-text-stroke: 2px white;  /*Para poner contorno a la letra pero sin relleno #d434af */
  color: transparent; 
  filter: brightness(1.75);
  margin-bottom: 10px;
  margin-left: 300px;

}

/* Imagen cartelera */
.introduccion img{
  aspect-ratio: 542/75;
    height: 700px;
    width: 700px;
    /* display: flex;
    flex-wrap: wrap; */
    margin-left: 30px;
    margin-bottom: 900px;
    display: block;
}





  