h1 {
    background-color: aqua;
    display: inline;     
}

h2{
    background-color: blueviolet;
    display: inline;
}

p{
    background-color: chocolate;
    display: inline;
}

ul{
    background-color: darkgreen;
}