h1 {
    background-color: aqua;
    display: block; 
    height: 50px;
    width: 400px;    
}

h2{
    background-color: blueviolet;
    display: inline;
}

p{
    background-color: chocolate;
    display: inline;
}

ul{
    background-color: darkgreen;
}

img{
    display: flex;
    background-color: chartreuse;
    height: 200px;
    width: 200px
}

a{
    display: block;
}