* {
    box-sizing: border-box;
    background-image: url(../imagenes_video/fondoPagina.jpg);
    background-position: 0px -132px;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
.body{
    display: block;
}

header {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

  .logo {
    width: 900px; 
    height: auto;
    background-size: contain; 
    background-repeat: no-repeat;
    position: center;
    
}

