/* Estilo que siemore hay q tener al principio */
* {
    font-family: "Open Sans", sans-serif;
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(../imagenes_video/fondoPagina.jpg);/*fondo de la pagina  */
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  main {
    flex: 1;
  }
  

  /* CABECERA */
  header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;/*centrarlo bien  */
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;/* pa que se quede quieto el header cuando hagas scroll */
    backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, 0.4);
    transition: backdrop-filter 0.3s ease-in-out; /* pa hacer el efecto ese transparente */
   
  }
  

  /* Logo del Riverland */
  header .logo {
    height: 50px;
    cursor: pointer;/* pa que el cursor seleccione pero no haga nada */
  }
  

  /* Menú de navegación */
  header nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  header nav ul li {
    margin: 0 10px;
    font-size: 16px;
    font-weight: 600;
  }
  header nav ul li a {
    text-decoration: none;
    color: white;
    transition: color .3s;
  }
  

  header nav ul li a:hover {
    /*se pone para que cuando pases el raton por encima se ponga rosa, efecto  */
    color: #e438c3;
  }
  
  /* Punto pa q quedase bonito estetico*/
  header nav ul li span {
    margin-left: 15px;
    color: #e438c3;
  }
  

  /* Contenedor principal donde esta todo el contenido*/
  .container {
    padding-top: 100px;
    width: 100%;
    text-align: center;
  }

  .imagenFondoPrincipio, .princImagen{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    
  
  }
  
  .section {
    height: 100vh;
    display: flex;
    flex-direction: column;/* elementos se ponen uno debajo de otro!!! */
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  .section h3 {
    font-size: 3em;
    /* pa que la letra no tenga relleno y solo tenga su cortorno */
    -webkit-text-stroke: 2px #c12ea4;
    color: transparent;
  }
  
  .line-up-container{
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 20px;
  }
  

  .line-up-content{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  max-width: 1200px;
  }
  
  .line-up-txt{
  flex: 1;
  padding: 20px;
  text-align: left;
  font-size: 1.1rem;
  line-height: 1.5;
  color: #444;
  /* PA El color transparente debajo del texto pa q destaque */
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 7px;
  margin-top: 150px;
  
  }
  /* aqui esta el titulo de este contenedor y la cartelera */
  .line-up-info{
  flex: 1;
  padding: 20px;
  text-align: center;
  }
  /* editar titulo de Line Up */

  .line-up-info h3{
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3em;  
  -webkit-text-stroke: 2px #c12ea4;  /*Para poner contorno a la letra pero sin relleno #d434af */
  color: transparent; 
  }
  /* cartelera imagen */
  .line-up-img{
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  }
  
  /* GALERIA */
  .galeria-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);/* define el número y tamaño de las columnas IMPORTANTE! */
  gap: 15px;/* espacio dejar entre todo */
  width: 80%;
  /* ancho máximo caja */
  max-width: 1200px;
  margin-top: 20px;
  }
  
  .galeria-imagenes{
  overflow: hidden;
  border-radius: 8px;
  }
  

  .galeria-img{
  width: 100%;
  /* Para poner las imagenes con el mismo tamaño */
  height: 300px;
  object-fit: cover;
  transition: transform .3s ease-in-out;
  }
   /* pa añadir el efecto */
  .galeria-img:hover{
  transform: scale(1.1);
  }
  
  #galeria h3{
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3em;  
  -webkit-text-stroke: 2px #c12ea4;  /*Para poner contorno a la letra pero sin relleno #d434af */
  color: transparent; 
  }
  
  
  /* MERCH */
  #merch {
    padding: 50px 20px;
    text-align: center;
  }
  .catalogo-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .producto-caja {
    width: 300px;
    height: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .producto-caja img {
    width: 100px;
    height: auto;
    border-radius: 8px;
  }
  
  .info-producto h4 {
    margin-top: 10px;
    font-size: 1.2rem;
  }
  
  .precio {
    margin-top: 10px;
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  .precio-antiguo {
    color: red;
    text-decoration: line-through;/* pa poner la raya encima pa poner el descuento del precio */
  }
  
  .precio-actual {
    color: #2d6d7e;
  }
  
  .btn-comprar {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #e438c3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-comprar:hover {
    background-color: #9b1b73;
  }
  
  
  
  #extra-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
  
  #extra-content .container {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 1200px;
    height: 80%;
    background: transparent; /* Fondo translúcido para el contenedor */
    backdrop-filter: blur(10px); /* Efecto blur en el fondo */
    border-radius: 15px;
    overflow: hidden;
  }
  
  .redes-container {
    display: flex;
    flex-direction: row;
    height: 50%; /* Video y Spotify ocupan la mitad superior */
    width: 100%;
    position: relative;
  }
  
  .background-video {
    width: 50%;
    height: 100%;
    object-fit: cover;
  }
  
  .spotify-container {
    width: 50%;
    height: auto;
    padding: 10px;
    margin-top: 100px;
    
  }
  .spotify-container iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
    overflow: hidden;
  }
 
  
  /* Estilos del footer */
  #footer {
    background-color: white;
    color: #9b1b73;
    padding: 40px 0;
    font-family: Arial, sans-serif;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: wrap;
  }
  
  .footer-left h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .footer-left p {
    font-size: 1rem;
    margin: 0;
  }
  
  .footer-middle ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
  }
  
  .footer-middle ul li {
    display: inline;
    pointer-events: none;/* pa poner el cursor encima del texto pero sin que haga nada  */
  }
  
  .footer-middle ul li a {
    color: #9b1b73;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    transition: color 0.3s ease;
    
    
  }
  
  .footer-middle ul li a:hover {
    color: #9b1b73;
  }
  
  .footer-right h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .social-icons {
    display: flex;
    gap: 15px;
  }
  
  .social-icon img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
    
  }
  
  .social-icon img:hover {
    transform: scale(1.1);
  }
  
  
  /* Estilos para el botón de scroll arriba */
  #scroll-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    color: #9b1b73;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    /* Ocultar inicialmente */
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  #scroll-top-btn:hover {
    background-color: white;
  }
  
  
  
  
  
  /* Diseño responsive pa adaptar */
  
  
  /* Footer */
  /* Responsive para pantallas pequeñas */
  
  

  @media (max-width: 992px) {
    .section {
      height: auto; /* secciones se ajusten al contenido */
      padding: 20px; /* Reduce el relleno pa mas espacio */
    }
  
    .line-up-content {
      flex-direction: column;
      width: 100%;
      align-items: center; /* centrar contenido en pantallas pequeñas */
    }
  
    .line-up-info,
    .line-up-txt {
      width: 100%; /* contenido no desbordar */
      margin-top: 20px; 
      text-align: center; /* centrar texto */
    }
  
    .galeria-container {
      grid-template-columns: 1fr 1fr; /* reducir columnas */
    }
  
    .redes-container {
      flex-direction: column;
      height: auto; /* ajustar alto pa no cortar contenido */
    }
  
    .line-up-content {
      flex-direction: column;
      align-items: center;
      width: 90%;
    }
  
    .line-up-txt, .line-up-info {
      width: 100%;
      padding: 15px;
      text-align: center;
    }
  
    .catalogo-container {
      grid-template-columns: 1fr; /*productos en una sola columna */
      gap: 20px;
    }
  
    .producto-caja {
      width: 90%;
      margin: 0 auto;
    }
  
    #extra-content {
      padding: 20px; 
    }
  
    #extra-content h3 {
      font-size: 1.8rem; 
      text-align: center; 
    }
  
   
    .redes-container {
      flex-direction: column; /* elementos columna */
      align-items: center; 
      width: 100%;
    }
  
    .background-video {
      /* display: none; */
       /* Añade un espacio debajo del video */
    }
  
    .spotify-container iframe {
      /* width: auto; */
      /* max-width: 400px;
      height: 80px;  */
      width: auto;
    }
  
    .precio-caja {
      width: 100%; 
      padding: 15px;
      text-align: center;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
    }
  
    .precio-caja h4 {
      font-size: 1.2rem; /* ajustar tamaño */
      margin-bottom: 10px;
    }
  
    .precio-caja p {
      font-size: 1rem; 
      margin-bottom: 10px;
    }
  
    .precio-caja input {
      width: 60px; 
      padding: 5px;
      margin-right: 10px;
    }
  
    .precio-caja button {
      padding: 8px 15px; 
      font-size: 1rem;
      width: 100%;
      max-width: 150px; 
      margin-top: 10px;
    }
  
    /* Ajuste del footer */
    .footer-container {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-middle ul {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  
    .social-icons {
      justify-content: center;
    }
  }
  
  /* Pantallas más pequeñas que 480px */
  @media (max-width: 576px) {
    .section h3 {
      font-size: 1.5rem; 
      text-align: center;
    }
  
    .producto-caja {
      width: 100%;
    }
  
    .precio-caja input {
      width: 40px;
    }
  
    .precio-caja button {
      padding: 8px 12px;
    }
  
    .precio-entradas {
      grid-template-columns: 1fr;  
    }
  
   
    .catalogo-container {
      grid-template-columns: 1fr;
    }
  
  
    .producto-caja {
      margin-bottom: 15px;
    }
  
    #extra-content h3 {
      font-size: 1.5rem; 
    }
  
    .precio-caja {
      /* padding: 10px;  */
      width: 100%;
  padding: 10px;  /* Reduce el padding para ajustarse mejor */
  box-sizing: border-box;

    }
  
    .precio-caja h4 {
      font-size: 1.1rem; /* tamaño títulos */
    }
  
    .precio-caja p {
      font-size: 0.9rem; 
    }
  
    .precio-caja input {
      width: 50px; 
    }
  
    .precio-caja button {
      padding: 8px 12px; 
      font-size: 0.9rem; 
    }
  
    .spotify-container iframe {
      /* width: 100% !important; 
      height: 60px; */
      width: 100% !important;
      height: auto; 

    }

    #extra-content{
      width: 100% !important;
      
    }

    .redes-container, #extra-content {
      box-sizing: border-box; /* Evitar desbordes debido a padding/márgenes */
    }
  }
  