* {
  box-sizing: border-box;
}

h1,
h4,
p {
  margin: 0px;
}

body {
  background-color: red;
}
.container {
  background-color: blue;
  color: #666666;
  width: 100%;
  margin: 20px auto; /* el auto es para que lo ponga en todos los margenes  */
  
  
}

/* El contenedor flex para la primera fila de contenido */
.content_wrapper {
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 margin-bottom: 1em;

}

header {
  margin-bottom: 1em;
  border-bottom: 1px solid #666666;
  width: 100%;
  text-align: center;

}

/* El menú */
nav {
 width: 14%;
padding: 1em;
  
}

nav div {
  margin-bottom: 20px;
}

/* El elemento principal */
main {
  width: 40%;
  border:1px solid #aaaaaa;
  border-radius: 1em;
  text-align: center;
  padding: 1em;
  
}

main img {
  height: 70%;
 width: 80%;
}

.content_wrapper article:nth-of-type(1) {
 
}

/* Artículo. Imágenes pequeñas */
article {
 width:30%;
 border:1px solid #aaaaaa;
 border-radius: 1em;
 text-align: center;
 padding: 1em;
}

.articles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 8%;
}

article img {
  height: 60%;
 width: 100%;
}

/* Pie de la página */
/* Pie de la página */
footer {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 3em;
}

footer img {
  width:20px;
}
